{% extends "master.html" %}
{% block title %} Pagina Principal {% endblock title%}
{% block content %}
        <h1>{{ Players.name }} {{ Players.lastname }}</h1>

        <ul class="list-group list-group-flush">
        <li class="list-group-item">AGE: {{ Players.age }}</li>
        <li class="list-group-item">MIN: {{ Players.minutes_played }}</li>
        <li class="list-group-item">WIN: {{ Players.wins }}</li>
        <li class="list-group-item">LOS: {{ Players.loses }}</li>
        <li class="list-group-item">PTS: {{ Players.points_per_game }}</li>
        </ul>

        <footer> Back to <a href="/app">Players</a></footer>
{% endblock content %}